body{
    margin: 0%;
    font-family: 'Open Sans', sans-serif;
}

.header{
    height: 89px;
    width: 100%;
    padding: 0 164px;
    box-sizing: border-box;
    display: flex; /*при нем все картинки внутри растягивают на всю высоту*/
    justify-content: space-between;
    align-items: center; /* выравнивает по горизонтали*/
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .2);
    background-color: rgba(255, 255, 255, .9);
    position: fixed; /*цветок заехал под строку*/
    left: 0;
    top: 0;
}

.links{
    /*float: right; сдвиг блока влево, но устаревший*/
    /*display: block; /*для блочного эл-та div*/
    /*display: inline; /*для строчного span*/
    /*display: inline-block; /*margin не подчиняется блочным, но после преобразования выше уже можно*/
    /*margin-left: 100px;*/
    /*display: flex; /*самый универсальный, выравнивает по вертикали*/
    /*flex-direction: row; элементы станут в ряд, если не написать display: flex: то эта строка не будет работать;*/
    /* flex playground поиграться*/
}


.link{
    text-decoration: none;
    text-transform: capitalize;
    font-size: 17px;
    color: #808080;
    margin-right: 38px;
}

/*.link:last-child{
    margin-right: 0; /*отдельно для последней ссылке*/

.login{
    border: none; /*убираем обводку*/
    outline: none; /*убираем обводку при нажатии*/
    cursor: pointer;
    height: 27px;
    width: 87px;
    background-color:  #de6d6e;
    border-radius: 3px;   
    font-size: 17px; 
    color: #ffffff;
    margin-left: 4px;
}

.banner{
    height: 588px;
    width: 100%;
    background-image: url('../img/flower.jpg'); /*две точки вначале для выхода из папки и перезахода*/
    background-repeat: no-repeat;
    background-size: cover; 
    background-position-y: -50px;
    color: white; /*родительский цвет изменит у двух нисходящих*/
    padding-bottom: 85px; /*ограничиваем пространство для заголовков, что бы не двигались*/
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /*изменил положение элементов за счёт смены осей - теперь обращаемся в обратном направлении*/
    align-items: center;
    justify-content: flex-end;
}

.title{
    text-transform: uppercase;
    font-size: 69px;
    font-weight: 800px;
    }

.title_small{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
}

.info{
    width: 100%;
    height: 469px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, .3);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 66px;
    box-sizing: border-box;
}

.info_title{
    color: #404040;
    font-size: 35px;   
    margin-bottom: 30px;
}

.menu{
    width: 60px;
    height: 60px;
    border: 2px solid #404040;
    box-sizing: border-box;
    border-radius: 10px;
    cursor: pointer;
    display: none; /*скрыли до установление поределенного разрешения*/
    justify-content: center;
    align-items: center;

}

.line{
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: relative;
    transition: .4s;

}

.line::after{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    top: 8px;
   
}

.line::before{
    content: '';
    width: 35px;
    height: 3px;
    background-color: #404040;
    position: absolute;
    left: 0;
    bottom: 8px;
    transition: .4s;
   
}

.menu:hover > .line {
    background-color:transparent; /*прозрачный цвет*/

}

.menu:hover> .line::after{
    transform: rotate(-45deg);
    top: 0;
}

.menu:hover> .line::before{
    transform: rotate(45deg);
    bottom: 0;
}

.info_text{
    width: 830px;
    text-align: center;
}

.circles{
    width: 100%;
    padding: 0 160px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    
}

.card{
    border-radius: 50%;
    background-color: #4eb9f4;
    width: 179px;
    height: 179px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: white;
}

.card > img{
    margin-bottom: 12px;
}

.blue{
    background-color: #4eb9f4;
}

.green{
    background-color: #6fc125;

}

.red{
    background-color: #ff5649;
}

.orange{
    background-color: #e48f23;
}

@media screen and (max-width:980px) { /*изменение адаптива к главной строке*/
    .header{
        padding: 0 20px;
    }
}

@media screen and (max-width:710px) {
    .links{
        display: none;
    }

    .header{
        flex-direction: row-reverse;
    }

    .menu{
        display: flex;
    }
}



/*bitbucket.org*/
/*github.com*/
/*gitlab.com*/